/* Header Styling */
header {
	width: 100%;
	padding:  16px 0;
	background-color: rgba(255,255,255,0.8);
	position: relative;
	top:0;
	left: 0;
	text-align: center;
	max-height: 120px;
	margin-right: auto;
	margin-left: auto;
}

/* Wrapper for alerts */
.alert-wrapper {
	display: none;
	padding: 1%;
	width: 50%;
	font-size: 2em;
	margin: 1.5em 25%;
	cursor: pointer;
	top: 5em;
	text-align: center;
	border-radius: 1em;
}

/* Wrapper for login */
.login-wrapper {
	animation: 0.4s 1 ease-in-out fadeIn;
	transition: opacity 3s;
	opacity: 1;
	width: 100%;
	position: relative;
	margin-top: 2em;
	text-align: center;
}

/* Login input and button styling */
.login-wrapper input, .login-wrapper button{
	box-shadow: 0 10px 9px 0 rgba(47,91, 105,0.61), 0 5px 9px 0 rgba(47,91,105,0.18);
	background-color: #09a2e6;
	border: 1px solid black;
	color: white;
	transition: color 0.12s ease-in, border 0.24s ease-in, box-shadow 0.24s ease-in-out;
}

/* Login and logout button */
.login-wrapper button , #logoutButton {
	color: rgb(47,91, 105);
	border: 1px solid rgb(47,91, 105);
}

/* Login input field on focus */
.login-wrapper input:focus{
	box-shadow:none;
	background-color: rgb(28, 90, 117);
	border: 1px solid white;
	color: white;
}

/* Log in/out button hover&focus */
.login-wrapper button:hover,
.login-wrapper button:focus,
#logoutButton:hover,
#logoutButton:focus,
#go-back-button:hover,
#go-back-button:hover
{
	box-shadow:none;
	background-color: rgb(37, 62, 75);;
	border: 1px solid white;
	color: white;
}

/* Margin to inputs in form */
form input {
	margin-bottom: 0.6em;
}

/* Margin in singup */
.signup input {
	margin-bottom: 0.3em;
}

/* Margin for button containers */
.button-wrap {
	margin-top: 1em;
}

/* Margin for input fields */
.input-field {
	margin-bottom: 0.8em;
}

/* Logout wrap styling */
.logout-wrapper {	
	display: none;
	width: 100%;
	position: relative;
	margin-top: 4%;
	text-align: center;
}

/* General wrapper */
.wrapper {
	margin-right: auto;
	margin-left: auto;
	padding: 20px 0;
	height: inherit;
	background-color: transparent;
}

/* Wrapping for go back button */
.back-button-wrapper {		
	display: none;
	width: 100%;
	position: relative;
	margin-top: 4%;
	text-align: center;
}

/* Wrapping for form submit */
.submit-wrapper {
	margin-top: 4em;
	text-align: center;
}

/* Background styling */
.background-content {
	z-index: -1;
	position: fixed;
	top: 0;
	left: 0;
	background-color: #09a2e6;
}

/* Background image */
.background-image {
	background: url("../img/mihailma.png") repeat;
	position: relative;
	top: -100vh;
	left: -100vw;
	transform: rotate(29deg);
	height: 300vh;
	width: 300vw;
}

/*Grid for housing quiz boxes*/
.quiz-grid {
	display: grid;
	margin: 1% 10%;
	grid-template-columns: repeat(2, 1fr);
	grid-auto-rows: minmax(150px, auto);
	grid-gap: 1em;
}

/*Quiz boxes*/
.quiz-box {
	border-radius: 2em;
	background: #eaeaea;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 2em;
	height: 200px;
	width: auto;
	font-size: 200%;
}

/*Question list for housing question boxes*/
.question-list {
	margin: 1% 10% 10% 10%;
	grid-template-columns: repeat(2, 1fr);
	grid-auto-rows: minmax(150px, auto);
	grid-gap: 1em;
}

/*Question boxes*/
.question-box { 
	margin-top: 5%;
	border-radius: 2em;
	background: #eaeaea;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 2em;	
	font-size: 200%;
}

/*Grid for housing answer boxes*/
.answer-grid {
	display: grid;
	align-items: center;
	justify-content: center;
	margin: 1% 10%;
	grid-template-columns: repeat(2, 1fr);
	grid-auto-rows: minmax(150px, auto);
	grid-gap: 1em;
}

/*Answer boxes*/
.answer-box {
	border-radius: 2em;
	background: #eaeaea;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 2em;
	height: 200px;
	font-size: 200%;
}

/*Result list for housing result boxes*/
.result-list {
	margin: 1% 10%;
	grid-template-columns: repeat(2, 1fr);
	grid-auto-rows: minmax(150px, auto);
	grid-gap: 1em;
}

/*Result box*/
.result-box { 
	text-align: center;
	display: flex;
	margin: 1%;
	border-radius: 2em;
	background: #eaeaea;
	align-items: center;
	justify-content: center;
	padding: 2em;	
	font-size: 200%;
}

/* Margin for results */
#resultDiv {
	margin-bottom: 10%
}

/* Result name styling */
#resultNameBox {
	width: 50%;
	height: 200px;
	margin-left: 25%;
	margin-right: 25%; 
	border: 2px solid black;
}

/* Result desc styling */
#resultDescBox {
	width: 60%; 
	margin-left: 20%;
	margin-right: 20%;
	border: 2px solid black;
}

/* Hover styling for quizes and answers */
.quiz-box:hover,
.answer-box:hover {
	background: #c8c8c8;
}

/* Cookieconsent class entry */
.cookie-in {
	animation: 6s ease-in 0s 1 slideInFromBottom;
}

/* Styling for cookieconsent */
.cookie-consent {
	flex-direction: column;
	position: fixed;
	bottom: 1em;
	right: 1em;
	background-color: #09a2e6;
	color: white;
	padding: 2em;
	max-width: 24em;
	z-index: 99;
	border: 1px solid black;
}

/* Cookieconsent class out */
.cookie-out {
	animation: 2s ease-out 0s 1 slideInToBottom;
}

/* Cookieconsent span styling */
.cookie-consent span {
	margin-bottom: 1em;
}

/* Cookieconsent button styling */
.cookie-consent button {
	text-decoration: none;
	color: white;
	background-color: transparent;
	border: 2px solid white;
	text-align: center;
	max-width: 330px;
}

/* Cookieconstent button hover */
.cookie-consent button:hover {
	background-color: #0887d3;
}

/* Footer styling */
#footer {
	display: block;
	animation: 1s ease-out 0s 1 slideInFromBottom;
	color: #f3f3f3;
	text-align: center;
	background: rgba(38,47,58,0.95);
	position: fixed;
	bottom: 0;
	left: 0;
	height: 60px;
	width: 100%;
	padding-top: 10px;
}

/* Media query for smaller screens i.e Mobile phones */
@media only screen and (max-device-width: 768px) {

	h1 {
		font-size: 1.6em;
		letter-spacing: 10px;
	}

	input {
		height: 3em;
		width: 330px;
	}

	button {
		height: 4em;
		width: 339px;
	}

	#footer {
		display: none;
	}

	.main-wrapper {
		margin-top: 50%;
		margin-bottom: 50%;
	}

	.cookie-consent {
		display: none;
	}
}

/* FadeIn animation keyframes */
@keyframes fadeIn {
	0% { opacity: 0; display: none; transform: translateY(-100%) }
	1% { opacity: 0; display: block;}
	100% { opacity:1; transform: translateY(0%)}
}

/* Blinking alert animation keyframes */
@keyframes blinking-alert {
	0%, 49% {
		background-color: rgba(255, 255, 0, 0.8);
	}
	50%, 100% {
		background-color: rgba(255, 0, 0, 0.8);
	}
}

/* Slide in from botton animation keyframes */
@keyframes slideInFromBottom {
	0% {
		transform: translateY(100%);
	}
	70% {
		transform: translateY(80%);
	}
	100% {
		transform: translateY(0);
	}
}

/* Slide back to bottom animation keyframes */
@keyframes slideInToBottom {
	0% {
		transform: translateY(0%);
	}
	100% {
		transform: translateY(110%);
	}
}

