.quiz-wrap {
    margin-left: auto;
    margin-right: auto;
    width: 640px;
    border: 2px solid black;
}

.question {
    text-align: center;
    background-color: greenyellow;
}

.ellipse {
    margin: 10px;
    padding: 10px;
    width: calc(100% - 20px);
    border-radius: 20px;
}

.answer {
    text-align: center;
    background-color: forestgreen;
}

.answer:hover{
    background-color: green;
}

.answer span {
    margin-right: 10px;
}

.quater {
    height: 200px;
    border: 1px solid black;
}

.quater:hover  {
    background-color: grey;
}

.picture-columns{
    column-gap: 0;
    column-count: 2;
}
